<a href="https://colab.research.google.com/github/ayushi-2310/Ayushi-DAML-2021-22/blob/main/HET_panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [ ]:
pd.__version__

'1.1.5'

In [3]:
import numpy as np

In [ ]:
#datatype in pandas : Series-1D, DataFrame-2D, Panel-3D
data={'student':['Jack','Mike','Rohan','Zubair'], 'year':[1,2,3,1], 'marks':[9.8,6.1,8.0,9.7]}

In [ ]:
df=pd.DataFrame(data)
df

  student  year  marks
0    Jack     1    9.8
1    Mike     2    6.1
2   Rohan     3    8.0
3  Zubair     1    9.7

In [ ]:
type (df['student'])

pandas.core.series.Series

In [ ]:
#load different data
pd.read_csv('/content/sample_data/mnist_test.csv')

      7  0  0.1  0.2  0.3  0.4  ...  0.662  0.663  0.664  0.665  0.666  0.667
0     2  0    0    0    0    0  ...      0      0      0      0      0      0
1     1  0    0    0    0    0  ...      0      0      0      0      0      0
2     0  0    0    0    0    0  ...      0      0      0      0      0      0
3     4  0    0    0    0    0  ...      0      0      0      0      0      0
4     1  0    0    0    0    0  ...      0      0      0      0      0      0
...  .. ..  ...  ...  ...  ...  ...    ...    ...    ...    ...    ...    ...
9994  2  0    0    0    0    0  ...      0      0      0      0      0      0
9995  3  0    0    0    0    0  ...      0      0      0      0      0      0
9996  4  0    0    0    0    0  ...      0      0      0      0      0      0
9997  5  0    0    0    0    0  ...      0      0      0      0      0      0
9998  6  0    0    0    0    0  ...      0      0      0      0      0      0

[9999 rows x 785 columns]

In [ ]:
df.head(10)

  student  year  marks
0    Jack     1    9.8
1    Mike     2    6.1
2   Rohan     3    8.0
3  Zubair     1    9.7

In [ ]:
df.tail(3)

  student  year  marks
1    Mike     2    6.1
2   Rohan     3    8.0
3  Zubair     1    9.7

In [ ]:
df.axes

[RangeIndex(start=0, stop=4, step=1),
 Index(['student', 'year', 'marks'], dtype='object')]

In [ ]:
df.axes[0]

RangeIndex(start=0, stop=4, step=1)

In [ ]:
df.axes[1]

Index(['student', 'year', 'marks'], dtype='object')

Data Selection

In [ ]:
df.student

0      Jack
1      Mike
2     Rohan
3    Zubair
Name: student, dtype: object

In [ ]:
df.marks

0    9.8
1    6.1
2    8.0
3    9.7
Name: marks, dtype: float64

In [ ]:
df.rank

<bound method NDFrame.rank of   student  year  marks
0    Jack     1    9.8
1    Mike     2    6.1
2   Rohan     3    8.0
3  Zubair     1    9.7>

In [4]:
df=pd.read_csv?